h1 {
    font-family: "Tahoma";
    font-size: 28px
}

.title {
  border-bottom: 6px solid #00BFFF;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    text-align: left;
}

img {
  width:330px;
  max-width:100%;
  height: auto;
  float: right;
  margin: 20px 0 10px 10px;
}

ul {
  font-family: "Arial", Helvetica, sans-serif;
}

li {
  font-family: "Calibri";
}

.bigger {
  font-size: 125%
}

html {
    padding: 10px 30px 30px 30px;
}
